<% content_for :title, "Editing solde" %>

<h1>Editing solde</h1>

<%= render "form", solde: @solde %>

<br>

<div>
  <%= link_to "Show this solde", @solde %> |
  <%= link_to "Back to soldes", soldes_path %>
</div>
