<div class="sidebar" id="sidebar" data-turbo="false">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">

          <ul>
                        <li class="menu-title text-light">Menu</li>
                        <li class="active">
                            <a href="admin_dashboard.html"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>
						<li>
                            <a href="liste_clients.html"><i class="fa fa-user-o"></i> <span>Tous les clients</span></a>
                        </li>
                        <li>
                            <a href="<%=service_requests_path%>"><i class="fa fa-calendar"></i> <span>Liste des demandes</span></a>
                        </li>
                        <li>
                            <a href="remboursement_form.html"><i class="fa fa-calendar-check-o"></i> <span>New remboursement</span></a>
                        </li>
                        <li>
                            <a href="hist_remboursement.html"><i class="fa fa-calendar-check-o"></i> <span>Histq remboursement</span></a>
                        </li>
                        <li>
                            <a href="bilan_client.html"><i class="fa fa-calendar-check-o"></i> <span>Bilan Client</span></a>
                        </li>
                        <li>
                            <a href="<%=herbicides_path%>"><i class="fa fa-calendar-check-o"></i> <span>Les herbicides</span></a>
                        </li>
                        <li>
                            <a href="<%=indice_setting_path%>"><i class="fa fa-calendar-check-o"></i> <span>Indice de calcule</span></a>
                        </li>
                        <li>
                            <a href="<%=new_service_request_path%>" style="font-weight: bolder;" class="text-warning"><i class="fa fa-hospital-o"></i> <span>Nouvelle demande</span></a>
                        </li>
                    </ul>
            
        </div>
    </div>
</div>
