<div id="<%= dom_id village_setting %>">
  <p>
    <strong>Village:</strong>
    <%= village_setting.village %>
  </p>

  <p>
    <strong>Kg ha labouree:</strong>
    <%= village_setting.kg_ha_labouree %>
  </p>

</div>
