<% content_for :title, "New village setting" %>

<h1>New village setting</h1>

<%= render "form", village_setting: @village_setting %>

<br>

<div>
  <%= link_to "Back to village settings", village_settings_path %>
</div>
