<% content_for :title, "Editing fonctionnement" %>

<h1>Editing fonctionnement</h1>

<%= render "form", fonctionnement: @fonctionnement %>

<br>

<div>
  <%= link_to "Show this fonctionnement", @fonctionnement %> |
  <%= link_to "Back to fonctionnements", fonctionnements_path %>
</div>
