<% content_for :title, "New fonctionnement" %>

<h3 class="text-center">DEPENSES FONCTIONNEMENT TRACTEUR</h3>

<%= render "form", fonctionnement: @fonctionnement %>

<br>

<div>
  <%= link_to "Back to fonctionnements", fonctionnements_path %>
</div>
