<div id="<%= dom_id zone_assignment %>">
  <p>
    <strong>User:</strong>
    <%= zone_assignment.user_id %>
  </p>

  <p>
    <strong>Assigned by:</strong>
    <%= zone_assignment.assigned_by_id %>
  </p>

  <p>
    <strong>Zone:</strong>
    <%= zone_assignment.zone%>
  </p>

</div>
