
<div class="container">
<div class="add-patien row justify-content-center">
    <div class="col-lg-10" style="background:white; border-radius: 20px;padding: 50px;">
      <div class="row">
          <div class="col-sm-12">
              <h4 class="page-title" style="font-weight: bold;">Ajouter nouveau utilisateur</h4>
              <hr>
          </div>
      </div>
      <%= render "users/registrations/add_user" %>
    </div>
  </div>
</div>